@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #f4f7fb;
  min-height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Crop Google One Tap button padding */
#credential_picker_container,
#credential_picker_container > div {
  overflow: hidden !important;
}

#credential_picker_container iframe {
  margin: -2px -10px !important;
}
